.search {
  padding: 10px 20%;
}

.categorii {
  padding: 10px 10%;
}
.previous-next-buttons {
  padding: 10px 0% 10px 0%;
  margin: 5px;
}
.pagination-list {
  padding: 10px 0 10px 0%;
}

.categorie {
  border-color: none !important;
}
