:root {
  --tahoma: "Tahoma", sans-serif;
}

.card {
  transition: 1.2s ease-in-out;
  cursor: pointer;
}

.outer-modal {
  position: relative;
  margin: auto;
}
.bottomright {
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  bottom: 0;
  right: 0;
  color: white;
  font-size: 7px;
  font-family: var(--tahoma);
  padding: 5px;
}

.modal-body {
  margin: auto;
  padding: 10px !important;
}
.image {
  vertical-align: middle;
  width: 100%;
  height: 100%;
}
.info {
  position: absolute;
  top: 10px;
  width: calc(100% - 20px);
  background: rgba(0, 0, 0, 0.5);
  color: #ffff;
  padding: inherit;
  text-align: center;
  font-family: var(--tahoma);
  font-size: 1.5vw;
}
.title {
  text-transform: uppercase;
  font-family: "lucida sans unicode", "lucida grande", sans-serif;
  font-size: 20px;
  color: #000000;
  font-style: oblique;
  font-weight: bold;
  font-variant: small-caps;
  text-align: center;
  letter-spacing: 0.3px;
  line-height: 19px;
  justify-content: center;
}

.price span:nth-child(1) {
  color: #42b72a;
  font-weight: 800;
}

.price span:nth-child(2) {
  position: relative;
  font-size: 2vw;
  color: #df1616;
}

.strike {
  text-decoration-line: line-through;
}
